<app-header [isLoggedIn]="true"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <form class="upload-in-form" [formGroup]="uploadChallenge" (ngSubmit)="onSubmit()">
        <!-- <div class="mt-2">
          <input type="text" formControlName="challengerName" class="form-control" placeholder="Challenger Name">
          
        </div> -->
        <div class="mt-2">
          <input type="text" formControlName="challengeTitle" class="form-control" placeholder="Challenge Title">
          
        </div>
        <div class="mt-2">
          <ng-multiselect-dropdown formControlName="challengeDomain" class="form-control"
            [placeholder]="'Challenge Domain'" [settings]="dropdownSettings" [data]="dropdownList"
            [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)">
          </ng-multiselect-dropdown>
          
        </div>
        <div class="mt-2">
          <!-- <input type="textarea" formControlName="challengeAbstract" class="form-control" placeholder="Abstract"> -->
          <angular-editor formControlName="challengeAbstract" [config]="editorConfig" placeholder="Abstract"></angular-editor>
          
        </div>
        <div class="mt-2">
          <!-- <input type="textarea" formControlName="description" class="form-control" placeholder="Description"> -->
          <angular-editor formControlName="description" [config]="editorConfig" placeholder="Enter Challenge Description"></angular-editor>
        
        </div>
        <div class="mt-2">
          <!-- <input type="textarea" formControlName="rules" class="form-control" placeholder="Rules"> -->
          <angular-editor formControlName="rules" [config]="editorConfig" placeholder="Rules"> ></angular-editor> 
        </div>
        <div class="mt-2">
          <div class="input-group"> 
            <input type="textarea" formControlName="attachments" class="form-control" placeholder="Attachment..">
            <button class="btn btn-primary">Upload</button>
          </div>
        </div>
        <div class="mt-2">
          <div class="input-group">
            <input type="textarea" formControlName="challengeArtifacts" class="form-control" placeholder="Artifacts">
            <button class="btn btn-primary"> Upload</button>
          </div>
        </div>
       
      <div class="mt-2">
        <div class="input-group">
          <input [owlDateTime]="dt2" class="form-control" placeholder="Challenge Expiration Date">
          <span [owlDateTimeTrigger]="dt2" ><i  class="fa fa-calendar"></i></span>
         <owl-date-time #dt2></owl-date-time>
        </div>
      </div>
       
        <div class="mt-2">
          <input type="number" #amt class="form-control" formControlName="prize"  placeholder="Reward Prize" >
          <button (click)="pay(amt.value)" class="btn btn-primary btn-block">Pay </button>
        </div>
       
        <!-- <div class="side">
          <input type="file" (change)="onSelectFile($event)" formControlName="picture" class="form-control">
          <div class="text-danger" *ngIf="picture?.invalid">
            Image is required
          </div>
      </div> -->
        <div class="mt-2">
          <button class="btn btn-primary">Upload Challenge</button>
        </div>
        <div class="mt-2" *ngIf="uploadSuccess">
          <p class="successMsg">{{successMessage}}</p>
        </div>
      </form>
    </div>
  </div>
</div>
