<div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <form #contactform="ngForm" (ngSubmit)="onSubmit(contactform)">
          <div class="mt-2">
            <input type="text" #challengername="ngModel" name="challengername" required pattern="[a-zA-Z]{1,10}" class="form-control" [(ngModel)]="challenge.challengername" placeholder="Challenger Name">
            <div class="text-danger" *ngIf="challengername.dirty && challengername.errors?.required">
              Challenger Name is required
            </div>
            <div class="text-danger" *ngIf="challengername.dirty && challengername.errors?.pattern">
              Only alphabets are allowed in Challenger Name
            </div>
          </div>
          <div class="mt-2">
            <input type="text" #challengertitle="ngModel" name="challengertitle" required class="form-control" [(ngModel)]="challenge.challengertitle" placeholder="Challenger Title">
            <div class="text-danger" *ngIf="challengertitle.dirty && challengertitle.errors?.required">
              Challenger Title is required
            </div>
          </div>
          <div class="mt-2">
            <input type="text" #challengerdomain="ngModel" name="challengerdomain" required class="form-control" [(ngModel)]="challenge.challengerdomain" placeholder="Challenger Domain">
            <div class="text-danger" *ngIf="challengerdomain.dirty && challengerdomain.errors?.required">
              Challenger Domain is required
            </div>
          </div>
          <div class="mt-2">
            <input type="text" #Abstract="ngModel" name="Abstract" required class="form-control" [(ngModel)]="challenge.Abstract" placeholder="Abstract">
            <div class="text-danger" *ngIf="Abstract.dirty && Abstract.errors?.required">
              Abstract is required
            </div>
          </div>
          <div class="mt-2">
            <input type="text" #description="ngModel" name="description" required class="form-control" [(ngModel)]="challenge.description" placeholder="Description">
            <div class="text-danger" *ngIf="description.dirty && description.errors?.required">
                Description is required
            </div>
          </div>
          <div class="mt-2">
            <input type="text" #rules="ngModel" name="rules" required class="form-control" [(ngModel)]="challenge.rules" placeholder="Rules">
            <div class="text-danger" *ngIf="rules.dirty && rules.errors?.required">
                Rules are required
            </div>
          </div>
          <div class="mt-2">
            <button class="btn btn-primary">Upload Challenge</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
