/* 
.container1{
    background: url("/assets/images/feed4.jpg") no-repeat top center;
    background-size: cover;
    height: 75vh;
  }
  
  .wrapper{
    position: relative;
    top: 1%;
    bottom: 45%;
    left: 50%;
    transform: translate(-500px, 25px);
    width: 100%;
    max-width: 1000px;
 
    background: rgb(33 103 136 / 93%);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(80, 42, 64, 0.3);
  } 
  
  .wrapper .title h1{
    color: #c5ecfd;
    text-align: center;
    margin-bottom: 25px;
  }
#styled {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;

	background-position: bottom right;
	background-repeat: no-repeat;
}
.valid{
  margin-top: 10px;
  color: rgb(208, 27, 40);
}
.card-text{
 
  padding-top: 15px;
  color: rgb(102, 98, 98);
}

.solDetails {
  margin-left: 5%;
}


.feed-text {
  color: rgb(235, 206, 213);
  font-size: 20px;
}
.card-text{
  text-align: left;
  font-size: 20px;
} */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;0,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Judson&display=swap');
.container1{
    /* background: url("/assets/images/challengebackground.jpg") no-repeat top center; */
    background-size: cover;
    height: 100vh;
  }
  
  /* .wrapper{
    color: antiquewhite;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  } */
  
  .wrapper .title h1{
    
    text-align: center;
    margin-bottom: 25px;
    font-size: 20pt;
    font-family:Lora ;
    font-weight: bold;
  }
  strong{
    font-size: 18pt;
    font-family:Lora ;
    font-weight: bold;
  }
  .wrapper1{
    position: relative;
    top: 1%;
    bottom: 45%;
    left: 50%;
    transform: translate(-500px, 25px);
    width: 100%;
    max-width: 1000px;
 
    background-color: rgb(34, 24, 28);
    /* background-color:rgb(21 17 17); */
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(80, 42, 64, 0.3);
  } 
  .wrapper1 .title h1{
    color: #c5ecfd;
    text-align: center;
    margin-bottom: 25px;
  }
  span{
    font-size: 18pt;
    font-family: 'Judson', serif;
  }
  div{
    font-family:Lora ;
    /* font-weight: bold; */
    font-size: 18pt;
    margin-top: 1%;
  }
  .feed-text {
    color: beige;
    font-size: 20px;
  }
  #styled {
    width: 600px;
    height: 120px;
    border: 3px solid #cccccc;
    padding: 5px;
    font-family: Tahoma, sans-serif;
    background-position: bottom right;
    background-repeat: no-repeat;
  }

  /* .imgedit{
    height: fit-content;
  } */