<div class="container-fluid">
    <div class="row">
        <div class="card mx-2 mt-2 card text-white bg-dark mb-3" style="width: 18rem;" *ngFor="let s of solution; let indexOfelement=index">
            <div class="card-body">
                <h2 class="card-title">{{indexOfelement+1}}</h2>
                <h2 class="card-title">{{s.challengeTitle}}</h2>
                <h3 class="card-title">Solution: {{s.solution}}</h3>
                <p class="card-title">Description: {{s.description}}</p>
                <div class="d-flex flex-row">
                    <a><button class="button button1" type="button" disabled
                            *ngIf="s.solStatus == 'NotReviewed'">Accept</button></a>
                    <a><button class="button button2" type="button" disabled
                            *ngIf="s.solStatus == 'NotReviewed'">Reject</button></a>
                    <a *ngIf="s.solStatus=='Accepted'"><button class="button button1" (click)="feedbackView(s)">View
                            More</button> <i class="fas fa-check-circle"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>