.card-body1{
    background-color: rgb(161, 146, 146);
}
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }

.button1 {background-color: #06a50b;} 
.button2 {background-color: #d40a0a;} 



.fa-check-circle{
font-size: x-large;
/* margin-left: 1%; */
}

.img-top{
  border-radius: 60%;
  height: 300px;
}

