<app-header [isLoggedIn]="true"></app-header>
<div class="container-fluid">
    <div class="row">
        <p class="content" style="background-image: url('assets/images/solution1.gif');">Solvers are at the heart of everything we do,<br>supplying the innovative solutions to everyones’<br> problems and needs.</p>
    </div>
    <div class="row">
        <div class="card mx-2 mt-2 card text-white bg-dark" style="width: 18rem;" *ngFor="let details of solutionDetailsBychallenge" >
            <div class="card-body" >
                <h1 class="card-title"><strong>Challenge Name</strong>: {{details.challengeTitle}}</h1>
                <h1 class="card-title"><strong>Solution</strong>: {{details.solution}}</h1>
                <h3 class="card-text"><strong>Solved by</strong> : {{details.solvedBy}}</h3>
                <h3 class="card-text"><strong>Description</strong>: {{details.description}}</h3>
                <h3 class="card-text"><strong>Status</strong>: {{details.solStatus}}</h3>
                <div class="d-flex flex-row" >
                    <a ><button class="button button1" (click)="solAccepted(details,true)" *ngIf="details.solStatus == 'NotReviewed'">Accept</button></a>
                    <a ><button class="button button2" (click)="solAccepted(details,false)" *ngIf="details.solStatus == 'NotReviewed'">Reject</button></a>
                    <a ><button class="btn btn-secondary" (click)="feedbackView(details)" *ngIf="details.solStatus=='Accepted'">View More</button></a>
                    <a *ngIf="details.solStatus== 'Hired'"><button class="btn btn-secondary"  (click)="feedbackView(details)">View
                        More</button><i matTooltip="Innovator is hired" class="fas fa-user-check fa-2x"  style="color: #06a50b;"></i></a>
                </div>
                <div *ngIf="details.solStatus== 'Hired'" style="padding-top: 10px;">
                    <mat-label>Rank this solution</mat-label>
                    <mat-select [(ngModel)]="details.rank" (ngModelChange)="changeRank($event, details.solutionId)" style="background-color: white;">
                        <mat-option *ngFor="let rank of ranksDisabling" [value]="rank.rank" [disabled]="rank.disabled">
                          {{rank.rank}}
                        </mat-option>
                      </mat-select>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- [style.background-color]="details.solStatus=='Hired'?'grey':'none'" -->