<app-header [isLoggedIn]="true"></app-header>
<div class="container-fluid">
    <div class="row">
        <p class="content" style="background-image: url('assets/images/solution1.gif');">Solvers are at the heart of everything we do,<br>supplying the innovative solutions to everyones’<br> problems and needs.</p>
    </div>
    <div class="row">
        <div class="card mx-2" style="width: 18rem;" *ngFor="let details of solutionDetails">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Challenge Name: "{{details.solution}}"</h2>
                <p class="card-text">Solved by : {{details.solvedBy}}</p>
                <p class="card-text">{{details.description}}</p>
                <div class="d-flex flex-row">
                    <a  class="btn btn-success mx-2" #accept (click)=updateStatus(details)>Accept</a>
                    <a  class="btn btn-danger" #reject>Reject</a>
                </div>
            </div>
        </div>
    </div>
</div>