<app-header [isLoggedIn]="true"></app-header>
<app-feedback [datas]="logg"></app-feedback>

<div class="container1">
    <div class="main">
        <div class="side">
            <h1 class="sign-in-heading">Challenge details</h1>
            <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et fugiat nostrum molestiae.
                Perferendis aliquid error quidem, placeat nisi adipisci explicabo ab ducimus impedit commodi
                reiciendis, voluptatem quos voluptatibus sunt dolores.</p>
        </div>
    <div class="row">
       
        <img src="/assets/images/idea.svg" width="50%"  alt="">
         
        <div class="frm">
            <form #uploadsolution="ngForm" (ngSubmit)="onsubmit(uploadsolution)">
                <div class="mt-2">
                   <p><strong>Challenge Name: {{challenge}}</strong></p>
                </div>
                <div  class="edit">
                    <input type="text" #solution="ngModel" name="solution"  class="form-control" required  [(ngModel)]="innovator.solution" placeholder="Provide Solution">
                    <div class="text-danger" *ngIf="solution.dirty && solution.errors?.required"> 
                        Please enter the details
                    </div>
                </div>
                <div class ="edit">
                    <!-- <input type="text" #description="ngModel" name="description" required class="form-control"  [(ngModel)]="innovator.description" placeholder="Brief Desc of Solution">
                    <div class="text-danger" *ngIf="description.dirty && description.errors?.required"> 
                        Please enter the details
                    </div> -->
                   
                    <!-- <angular-editor placeholder="description" formControlName="description" [config]="config" [(ngModel)]="innovator.description"></angular-editor> -->
                    <!-- <angular-editor type="text" #description="ngModel" name="description" required class="form-control" [config]="config" [(ngModel)]="innovator.description" placeholder="Brief Desc of Solution"> </angular-editor> -->
                    <textarea #description="ngModel" name="description" required class="form-control"  [(ngModel)]="innovator.description" id="forms" rows="4" placeholder="Write brief Description for solution" spellcheck="false"></textarea>
                    <div class="text-danger" *ngIf="description.dirty && description.errors?.required">
                        Please enter the details
                    </div>
                </div>
                
               
                <div class="mt-2">
                    <button class="btnLogin" >Submit</button>
                <p class="valid">{{isEdit}}</p>
                </div>
            </form>
    </div>
    </div>
</div>
</div>
