<app-header [isLoggedIn]="true"></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form #uploadsolution="ngForm" (ngSubmit)="onsubmit(uploadsolution)">
                <div class="mt-2">
                   <p><strong>Challenge Name: {{challenge}}</strong></p>
                </div>
                <div class="mt-2">
                    <input type="text" #solution="ngModel" name="solution"  class="form-control" required class="form-control" [(ngModel)]="innovator.solution" placeholder="Provide Solution">
                    <div class="text-danger" *ngIf="solution.dirty && solution.errors?.required"> 
                        Please enter the details
                    </div>
                </div>
                <div class="mt-2">
                    <input type="text" #attachment="ngModel" name="attachment" required class="form-control"  class="form-control" [(ngModel)]="innovator.attachment" placeholder="Provide Attachment">
                    <div class="text-danger" *ngIf="attachment.dirty && attachment.errors?.required"> 
                        Please enter the details
                    </div>
                </div>
                <div class="mt-2">
                    <input type="text" #description="ngModel" name="description" required class="form-control"  class="form-control" [(ngModel)]="innovator.description" placeholder="Brief Desc of Solution">
                    <div class="text-danger" *ngIf="description.dirty && description.errors?.required"> 
                        Please enter the details
                    </div>
                </div>
                <div class="mt-2">
                    <button class="btn btn-secondary">Submit</button>
                </div>
            </form>
    </div>
    </div>
</div>