.card-body{
    /* background-color: black; */
    color: white;
}

.card:hover{
    color: rgb(0, 0, 0);
    background: rgb(231, 231, 201);
}
h1{
    font-family: Lora;
    text-shadow: 0 0 3px black;
    background: beige;
}
.row{
    font-family: Lora;
}
strong{
    font-family: Lora;
}


