.card-body{
    background-color: black;
    color: white;
}

.card:hover{
    color: rgb(0, 0, 0);
    background: rgb(155, 135, 212);
}
h1{
    font-family: Lora;
}
.row{
    font-family: Lora;
}
strong{
    font-family: Lora;
}


