.card-body{
    background-color: rgb(180, 144, 144);
}
.card{
    text-align: center;
}
.btn{
    width: 120px;
    height: 40px;
    background-color: rgb(34, 24, 28);
    color: white;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover{
    width: 180px;
}
.example-chip-list {
    width: 100%;
  }