<app-header [isLoggedIn]="true"></app-header>


<div class="row">
    <h1 class="text-center">Search Result</h1>
    <div class="col-md-3" *ngFor="let c of searchresult">
        <div  (click)="getChallengeById(c)" class="card" style="width: 18rem;">
            <img src="assets/images/logo4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title text-center"><strong>Title: </strong>{{c.challengeTitle | titlecase}} </h2>
                <p class="card-text"><strong>Challenged By: </strong>{{c.challengerName | titlecase}}.</p>
                <!-- <p class="card-text">Name : {{c.challengerName}}.</p> -->
                
                <!-- <div class="card-text"><strong>Description: </strong> {{c.description}}.</div>
                <p class="card-text"><strong>Expires on: </strong> {{c.expiryDate | date}} .</p> -->
                <mat-chip-list>
                    <div *ngFor="let a of c.challengeDomain" matTooltip="Domains">
                    <mat-chip>{{a}}</mat-chip>
                     </div>
                  </mat-chip-list>
                <!-- <a href="#" class="btn btn-primary">Challenge</a> -->
            </div>
        </div>
    </div>
    <div *ngIf="searchIsNull" >No Search result Found</div>
</div>
<div class="row">
    <h1 class="text-center" > Recommended Challenges</h1>
    <div class="col-md-3 " *ngFor="let c of recommended">
        <div (click)="getChallengeById(c)" class="card" style="width: 18rem;">
            <img src="assets/images/logo4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title text-center"><strong>Title: </strong>{{c.challengeTitle | titlecase}} </h2>
                <p class="card-text"><strong>Challenged By: </strong>{{c.challengerName | titlecase}}.</p>
                <!-- <p class="card-text">Name : {{c.challengerName}}.</p> -->
                
                <!-- <div class="card-text"><strong>Description: </strong> {{c.description}}.</div>
                <p class="card-text"><strong>Expires on: </strong> {{c.expiryDate | date}} .</p>
                <p class="card-text"><strong>Reward: </strong> {{c.rewardPrize | currency:'INR'}}</p>
                <p class="card-text"><strong>Reward: </strong> {{c.rewardPrize | currency:'USD'}}</p> -->

                <mat-chip-list>
                    <div *ngFor="let a of c.challengeDomain" matTooltip="Domains">
                    <mat-chip>{{a}}</mat-chip>
                     </div>
                  </mat-chip-list>
                <!-- <a href="#" class="btn btn-primary">Challenge</a> -->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h1 class="text-center" *ngIf="healthIsNull">Health</h1>
    <div cliclass="col-md-3" *ngFor="let c of health">
        <div (click)="getChallengeById(c)" class="card" style="width: 18rem;">
            <img src="assets/images/logo4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title text-center"><strong>Title: </strong>{{c.challengeTitle | titlecase}} </h2>
                <p class="card-text"><strong>Challenged By: </strong>{{c.challengerName | titlecase}}.</p>
                <!-- <p class="card-text">Name : {{c.challengerName}}.</p> -->
                
                <!-- <div class="card-text"><strong>Description: </strong> {{c.description}}.</div>
                <p class="card-text"><strong>Expires on: </strong> {{c.expiryDate | date}} .</p>
                <p class="card-text"><strong>Reward: </strong> {{c.rewardPrize | currency:'INR'}}</p>
                <p class="card-text"><strong>Reward: </strong> {{c.rewardPrize | currency:'USD'}}</p> -->

                <mat-chip-list>
                    <div *ngFor="let a of c.challengeDomain" matTooltip="Domains">
                    <mat-chip>{{a}}</mat-chip>
                     </div>
                  </mat-chip-list>
                <!-- <a (click)="solution(c)" class="btn btn-primary">Challenge</a> -->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h1 class="text-center" *ngIf="engineeringIsNull">Engineering</h1>
    <div class="col-md-3" *ngFor="let c of engineering">
        <div (click)="getChallengeById(c)" class="card" style="width: 18rem;">
            <img src="assets/images/logo4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title text-center"><strong>Title: </strong>{{c.challengeTitle | titlecase}} </h2>
                <p class="card-text"><strong>Challenged By: </strong>{{c.challengerName | titlecase}}.</p>
                <!-- <p class="card-text">Name : {{c.challengerName}}.</p> -->
                
                <!-- <div class="card-text"><strong>Description: </strong> {{c.description}}.</div>
                <p class="card-text"><strong>Expires on: </strong> {{c.expiryDate | date}} .</p>
                <p class="card-text"><strong>Reward: </strong> {{c.rewardPrize| currency:'INR'}}</p>
                <p class="card-text"><strong>Reward: </strong> {{c.rewardPrize| currency:'USD'}}</p> -->

                <mat-chip-list>
                    <div *ngFor="let a of c.challengeDomain" matTooltip="Domains">
                    <mat-chip>{{a}}</mat-chip>
                     </div>
                  </mat-chip-list>
                <!-- <a (click)="solution(c)" class="btn btn-primary">Challenge</a> -->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h1 class="text-center" *ngIf="electricityIsNull">Electricity</h1>
    <div class="col-md-3" *ngFor="let c of electricity">
        <div (click)="getChallengeById(c)" class="card" style="width: 18rem;">
            <img src="assets/images/logo4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title text-center"><strong>Title: </strong>{{c.challengeTitle | titlecase}} </h2>
                <p class="card-text"><strong>Challenged By: </strong>{{c.challengerName | titlecase}}.</p>
                <!-- <p class="card-text">Name : {{c.challengerName}}.</p> -->
<!--                 
                <div class="card-text"><strong>Description: </strong> {{c.description}}.</div>
                <p class="card-text"><strong>Expires on: </strong> {{c.expiryDate | date}} .</p>
                <p class="card-text"><strong>Reward: </strong> {{c.rewardPrize | currency:'INR'}} </p>
                <p class="card-text"><strong>Reward: </strong> {{c.rewardPrize | currency:'USD'}} </p> -->

                <mat-chip-list>
                    <div *ngFor="let a of c.challengeDomain" matTooltip="Domains">
                    <mat-chip>{{a}}</mat-chip>
                     </div>
                  </mat-chip-list>
                <!-- <a (click)="solution(c)" class="btn btn-primary">Challenge</a> -->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h1 class="text-center" *ngIf="scienceIsNull">Science</h1>
    <div class="col-md-3" *ngFor="let c of science">
        <div (click)="getChallengeById(c)" class="card" style="width: 18rem;">
            <img src="assets/images/logo4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title text-center"><strong>Title: </strong>{{c.challengeTitle | titlecase}} </h2>
                <p class="card-text"><strong>Challenged By: </strong>{{c.challengerName | titlecase}}.</p>
                <!-- <p class="card-text">Name : {{c.challengerName}}.</p> -->
                
                <!-- <div class="card-text"><strong>Description: </strong> {{c.description}}.</div>
                <p class="card-text"><strong>Expires on: </strong> {{c.expiryDate | date}} .</p>
                <p class="card-text"><strong>Reward: </strong> {{c.rewardPrize | currency:'INR'}}</p>
                <p class="card-text"><strong>Reward: </strong> {{c.rewardPrize | currency:'USD'}}</p> -->

                <mat-chip-list>
                    <div *ngFor="let a of c.challengeDomain" matTooltip="Domains">
                    <mat-chip>{{a}}</mat-chip>
                     </div>
                  </mat-chip-list>
                <!-- <a (click)="solution(c)" class="btn btn-primary">Challenge</a> -->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h1 class="text-center" *ngIf="aerospaceIsNull">Aerospace</h1>
    <div class="col-md-3" *ngFor="let c of aerospace">
        <div (click)="getChallengeById(c)"  class="card" style="width: 18rem;">
            <img src="assets/images/logo4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title text-center"><strong>Title: </strong>{{c.challengeTitle | titlecase}} </h2>
                <p class="card-text"><strong>Challenged By: </strong>{{c.challengerName | titlecase}}.</p>
                <!-- <p class="card-text">Name : {{c.challengerName}}.</p> -->
                
                <!-- <div class="card-text"><strong>Description: </strong> {{c.description}}.</div>
                <p class="card-text"><strong>Expires on: </strong> {{c.expiryDate | date}} .</p>
                <p class="card-text"><strong>Reward: </strong> {{c.rewardPrize | currency:'INR'}}</p>

                <mat-chip-list>
                    <div *ngFor="let a of c.challengeDomain" matTooltip="Domains">
                    <mat-chip>{{a}}</mat-chip>
                     </div>
                  </mat-chip-list>
                <!-- <a (click)="solution(c)" class="btn btn-primary">Challenge</a> -->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h1 class="text-center" *ngIf="habitatIsNull">Habitat</h1>
    <div class="col-md-3" *ngFor="let c of habitat">
            <div (click)="getChallengeById(c)" class="card" style="width: 18rem;">
            <img src="assets/images/logo4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title text-center"><strong>Title: </strong>{{c.challengeTitle | titlecase}} </h2>
                <p class="card-text"><strong>Challenged By: </strong>{{c.challengerName | titlecase}}.</p>
                <!-- <p class="card-text">Name : {{c.challengerName}}.</p> -->
                
                <!-- <div class="card-text"><strong>Description: </strong> {{c.description}}.</div>
                <p class="card-text"><strong>Expires on: </strong> {{c.expiryDate | date}} .</p>
                <p class="card-text"><strong>Reward: </strong> {{c.rewardPrize | currency:'INR'}}</p>

                <mat-chip-list>
                    <div *ngFor="let a of c.challengeDomain" matTooltip="Domains">
                    <mat-chip>{{a}}</mat-chip>
                     </div>
                  </mat-chip-list>
                <a (click)="solution(c)" class="btn btn-primary">Challenge</a> -->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h1 class="text-center" *ngIf="environmentIsNull">Environment</h1>
    <div class="col-md-3" *ngFor="let c of environment">
        <div (click)="getChallengeById(c)" class="card" style="width: 18rem;">
            <img src="assets/images/logo4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title text-center"><strong>Title: </strong>{{c.challengeTitle | titlecase}} </h2>
                <p class="card-text"><strong>Challenged By: </strong>{{c.challengerName | titlecase}}.</p>
                <p class="card-text">Name : {{c.challengerName}}.</p> -->
                
                <!-- <div class="card-text"><strong>Description: </strong> {{c.description}}.</div>
                <p class="card-text"><strong>Expires on: </strong> {{c.expiryDate | date}} .</p>
                <p class="card-text" *ngIf="c.rewardPrize"><strong>Reward: </strong> {{c.rewardPrize | currency:'INR'}}</p>
                <p class="card-text"><strong>Reward: </strong> {{c.rewardPrize | currency:'INR'}}</p>

                <mat-chip-list>
                    <div *ngFor="let a of c.challengeDomain" matTooltip="Domains">
                    <mat-chip>{{a}}</mat-chip>
                     </div>
                  </mat-chip-list>
                     <a (click)="solution(c)" class="btn btn-primary">Challenge</a>
            </div>
        </div>
    </div>
</div>


